.body-green {
    background-color: $light-green!important;
}

.container {
    @include outer-container;
}

.container--green {
    background-color: $light-green;
    margin-top: rem(50);
}

.container--white {
    background-color: $white;
    margin-top: rem(50);
}

.inner-content,
.inner-content--project {
    @include span-columns(10);
    @include shift(1);

    h2 {
        font-size: $base-font-size * 2;
        margin-bottom: rem(60);

        small {
            display: block;
            font-weight: normal;
        }
    }
}

.inner-content--profile {
    @extend .inner-content;
    margin-top: rem(100);
}

.inner-content--footer {
    @include span-columns(10);
    @include shift(1);
    margin-top: rem(100);

    @include media($large-screen) {
        @include span-columns(8);
    }

    p {
        font-size: $base-font-size * 1.34;
    }

    &::before{
        @include size(rem(10) rem(10));
        background-color: $green;
        content: '';
        display: inline-block;
        margin-bottom: rem(30);
        width: rem(100);
    }
}

// Footer
footer {
    display: inline-block;
    margin-bottom: rem(50);

    p {
        font-size: rem(14)!important;
    }

    .footer--heart {
        color: $pink;
    }
}

// Colophon
.colophon {
    @include span-columns(9);
    margin-top: rem(100);

    p {
        font-size: $body-font-size;
        line-height: $base-line-height;
    }
}