/* BASE
============================================= */
/**
	* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
	*/
* {
	box-sizing: border-box;
}
/**
	* Zero out margin and padding on these elements
	*/
blockquote,
body,
div,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
label,
legend,
li,
nav,
object,
ol,
p,
section,
table,
ul {
	margin: 0;
	padding: 0;
}

html {
}

/* BODY
============================================= */
/**
 * Basic typography styles
 */
body {
	color: $carbon;
	// font-family: $font-sans;
	font-size: $font-size-base;
	font-weight: normal;
}

/* LINKS
============================================= */
/**
 * General link base styles
 */
a {
	@extend %underline;
	color: $pink-dark;
	transition: color 0.15s ease-out;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $purple;
	}
}

/**
 * Highlight color
 */
::-moz-selection { background: $pink-light; }
::selection { background: $pink-light; }
