/* TEXT
============================================= */
/**
	* Remove list styles from ordered and unordered lists by default
	*/
ol,
ul {
	list-style: none;
}

li {
	margin-bottom: 1.5rem;
}

/**
 * Headlines base styles
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $purple;
	font-weight: lighter;
	font-family: $font-serif;
}

h1 {
	@extend %clearfix;
	font-size: $font-size-h2;

	@include breakpoint(sm) {
		font-size: $font-size-h1;
	}
}

h2 {
  @extend %clearfix;
	line-height: 1.4;
	font-size: $font-size-h3;

  @include breakpoint(lg) {
		font-size: $font-size-h2;

  }
}

h3 {
  @extend %clearfix;
	font-size: $font-size-h3;

  @include breakpoint(sm) {
		font-size: $font-size-base;
  }
}

/**
 * Paragraph base styles
 */
p {
	color: $text-color;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 1rem;
}

/**
 * Small text base styles
 */
small {
	color: $carbon;
	font-family: $font-sans;
}

//

.font-lg {
	font-size: $font-size-lg;
	line-height: 1.4;
}
