$pink: #FFB4EC;
$pink-light: #FFE8F9;
$pink-dark: #F244C4;
$purple: #4C0A75;
$purple-light: #9781A4;
$carbon: #382842;
$white: #fff;
$font-serif: 'Courier', serif;
$font-sans: 'Work Sans', sans-serif;
$section-padding: 1.875rem;
