/* PRIMARY NAV
============================================= */
.c-primary-nav {
	display: flex;
	flex: 1;
	justify-content: center;

	display: grid;
	grid-row: 2;
	place-self: end stretch;

	background-color: $pink;
	padding: 1rem;

	ul {
		justify-self: center;
	}
}
/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
	.c-primary-nav {
		grid-column: 2;
		grid-row: 1;
		justify-self: center;

		padding: 0;
	}
}
