* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	// font-size: 62.5%;
}

body {
	font-weight: normal;
	font-family: $font-sans;
}

a {
	color: $pink-dark;
  border-bottom: 1px solid $pink-dark;
	text-decoration: none;
	transition: color 0.15s ease-out;
}

a:hover {
	color: $purple;
	text-decoration: none;
}

p {
	color: $carbon;
	line-height: 1.7;
}
