/*
==============================================
Type Scale
============================================== */

::-moz-selection { background: $pink-light; }
::selection { background: $pink-light; }

html {
  font-size: 16px; /* base unit for rems */
  line-height: 1.6;
  font-family: 'Work Sans', Verdana, sans-serif;
  color: $carbon;
}

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $purple;
	font-weight: lighter;
	font-family: $font-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: $font-sans;
  font-size: .8rem;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
}

small {
  color: $carbon;
  font-family: $font-sans;
  font-size: 0.9rem;
}

small a {
  color: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

p small {
  display: block;
  margin-top: 0.5rem;
  line-height: 1.4;
}

/* Component styles */
.logo h1 {
	color: $white;
  font-weight: bold;
  line-height: 1;
	text-decoration: underline;
}
