/* Variables
============================================= */
$pink: #FFB4EC;
$pink-light: #FFE8F9;
$pink-dark: #F244C4;
$purple: #4C0A75;
$purple-light: #9781A4;
$carbon: #382842;
$white: #fff;

$font-serif: 'Courier', serif;
$font-sans: 'Work Sans', sans-serif;

$font-size-base: 1.125rem;
$font-size-sm: 1rem;
$font-size-xs: 0.777rem;
$font-size-lg: 1.375rem;

$font-size-h1: $font-size-base * 2;
$font-size-h2: $font-size-base * 1.777;
$font-size-h3: $font-size-base * 1.222;

$text-color: $carbon;

$section-padding: 2.5rem;
