/* LAYOUT
============================================= */
%clearfix {
	clear: both;
}

.wrapper {
	display: flex; /* flexbox fallback */
	flex-wrap: wrap;

	display: grid; /* css grid */
	grid-template-columns: repeat(1, [col] auto);
	grid-template-rows: repeat(2, [row] auto);
}

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
	.wrapper {
		display: grid; /* css grid */
		grid-template-columns: repeat(2, [col] 1fr);
		grid-template-rows: repeat(2, [row] auto);
	}
}
