.app-header {
  @include margin(rem(90) null rem(60) null);
  @include span-columns(10);
  @include shift(1);
  min-height: rem(50);
  z-index: 999;
}

.app-header--title {
  color: $green;
  display: block;
  font-weight: bold;
  letter-spacing: rem(2);
  margin: 0;
  text-transform: uppercase;
}

.app-header--role {
  display: block;
  a {
    color: $gray;
    &:hover {
      text-decoration: underline;
    }
  }
}