$flex-box-gutter: 0.4em;
$flex-box-width: 18em;

.project__flexbox {
  @include clearfix;
  @include display(flex);
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  clear: both;
  text-align: center;

  img {
    margin-bottom: rem(20);
    border-radius: $base-border-radius;
  }
}

.flex-box {
  @include transition (all 0.2s ease-in-out);
  @include flex(2 2 15em);
  @include align-self(stretch);
  border-radius: $base-border-radius;
  display: block;
  margin: $flex-box-gutter;
  padding: 2em 2em 3em 2em;
  text-decoration: none;

  img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;
    opacity: 0.4;
  }

  .flex-title {
      // font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    @include flex(1 1 40em);
  }


  @mixin grid-item-columns($columns) {
    width: (100% / 12) * $columns;
  }

  .project__details {
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: $base-font-color;
    $grid-item-height: 14em;

    @include clearfix;
    position: relative;
    margin-bottom: rem(50);
  }

  .project__details--title {
   h2 { 
    font-size: $h2-font-size;
    margin-bottom: 0.4em;
  }
}

.project__details--info {
  @include span-columns(12);
  @include transition (all 0.2s ease-in-out);
  float: left;
  overflow: hidden;
  outline: none;

  @include media($large-screen) {
    @include span-columns(9);
  }
}