@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

@mixin grid-item-image {
  background: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.grid-items {
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $grid-item-colors: desaturate($green, 30%);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-height: 20em;

  @include clearfix;

  .grid-item {
    background: $green;
    border-top: 0;
    color: $white;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    small {
      color: $white;
    }

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
        }
      }
    }
  }

  .grid-item--dark {
    color: $dark-gray !important;

    small {
      color: $dark-gray !important;
    }
  }

  .grid-item img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;
  }

  .grid-item h3 {
    font-size: 1.3em;
    margin-bottom: 0.4em;
    max-width: 60%;
  }

  .grid-item p {
    line-height: 1.5em;
    margin: auto;
    margin-top: rem(30);
    text-decoration: underline;
  }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }

  .bazza {
    @include grid-item-image;
    background: url("../source/img/bazza/thumb.jpg");
  }

  .curtape {
    @include grid-item-image;
    background: url("../source/img/curtape/thumb.png");
  }

  .nda {
    @include grid-item-image;
    background: url("../source/img/nda/thumb.jpg");
  }

  .sbt {
    @include grid-item-image;
    background: url("../source/img/sbt/thumb.jpg");
  }

  .the-daisy {
    @include grid-item-image;
    background: url("../source/img/the-daisy/thumb.jpg");
  }
}


// Intro
.intro,
.project-title {
  margin-bottom: rem(50);

  p,
  h2 {
    font-size: $base-font-size * 2;
    font-weight: bold;
    margin: 0 0 $base-spacing;
  }

  small {
    display: block;
    font-size: 1rem;
    margin-top: rem(60);

    &:last-child {
      margin: 0 !important;
    }
  }
}

.freelancing {
  font-size: 1rem;

  &::before{
    @include size(rem(10) rem(10));
    @include border-bottom-radius(rem(15));
    @include border-left-radius(rem(15));
    @include border-right-radius(rem(15));
    @include border-top-radius(rem(15));
    background-color: $green;
    content: '';
    display: inline-block;
  }
}


// Projects
.projects {
  padding-top: rem(80)!important;
}

.project-title {
  @include span-columns(8);
  @include shift(1);

  span {
    display: block;
    font-size: $font-sm;
  }
}

.project-description {
  margin-top: rem(80);

  p,
  h2,
  h3,
  h4 {
    @extend .colophon;
    margin-top: 0;
  }

  img + figcaption {
    @include margin(rem(20) null rem(80) null);
  }

  img + h3,
  img + p,
  p + img,
  img + img {
    margin-top: rem(80);
  }

  figcaption {
    font-size: $font-sm;
    font-style: italic;

    &::before {
    @include size(rem(5) rem(14));
    background-color: $green;
    content: '';
    display: inline-block;
    margin-right: rem(10);
    }
  }

  .screen {
    box-shadow: 0 0 rem(4) 0 rgba(0,0,0,0.20);
  }

  .inline {
    width: 100%;
    margin-top: 0;

    @include media($large-screen) {
      display: inline-block;
      float: left;
      max-width: 48%;
    }
  }

  .inline.first {
    margin-right: rem(36);
  }
}