$navigation-padding: rem(16);
$navigation-color: $medium-gray;
$navigation-color-hover: $dark-gray;
$navigation-height: rem(150);
$navigation-active-link-color: transparentize($dark-gray, 0.5);

// Nav

.navigation {
  font-family: $open-sans;
  min-height: $navigation-height;
  @include outer-container;
  z-index: 999;
}

.navigation__wrapper {
  @include span-columns(12);
  @include clearfix;
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(baseline);
  z-index: 9999;
  @include margin(auto rem(50));
  position: fixed;
  top: 0;

  @include media ($viewport-lrg) {
    margin: auto;
  }
}

.navigation__brand {
  @include flex(1 0 0);
  @include flex-grow(1);
  text-transform: uppercase;
}

.navigation__brand--link {
  font-family: $helvetica;
  font-size: $font-sm;
  font-weight: $font-weight-bold;
  letter-spacing: rem(2);
}

.navigation__menu {
  @include flex(1 0 0);
  @include flex-grow(1);
  font-size: $font-sm;
}

.navigation__list {
  display: inline;
  margin: auto;

  @include media ($viewport-lrg) {
    margin-left: rem(70);
  }
}

.navigation__list-item {
  display: inline;
  line-height: $navigation-height;
  padding-right: rem(20);

  @include media ($viewport-lrg) {
    display: inline;
    line-height: $navigation-height;
    text-decoration: none;
  }
}

.navigation__list-item--link {
  color: $navigation-color;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;

  @include media ($viewport-lrg) {
    padding-right: 1em;
  }

  &:focus,
  &:hover {
    color: $navigation-color-hover;
  }
}