// Projects
.projects {
    @include outer-container;
    padding-top: rem(100);

    h3 {
        font-size: $base-font-size * 2; // 42
        font-weight: normal;
        margin-bottom: 0;
    }
}

.projects--wrapper {
    @include margin(rem(100) null rem(100) null);
    background-color: $light-green;
}

.projects__item {
    @include clearfix;
    @include align-items(stretch);
    @include display(flex);
    @include flex-wrap(wrap);
    @include margin(rem(80) null rem(200) null);
    clear: both;
}

.projects__img {
    @include span-columns(12);

    img {
        display: block;
        margin-bottom: rem(40);
    }
}

.projects__info--title,
.projects__info--description {
    @include span-columns(8);
    @include shift(1);
    margin-bottom: rem(60);
}

.projects__info--description-role {
    span {
        display: block;
    }
}

.image-border {
    @include border-top-radius(5px);
    @include size(100% rem(25));
    background-color: darken($light-green, 20%);
    display: block;
}