// Colors
$blue: #477dca;
$dark-gray: #333;
$gray: #999;
$green: #1be8cf;
$light-green: #F4FBFA;
$light-gray: #d6d6d6;
$medium-gray: #666;
$pink: #f0a8e6;
$white: #fff;

// Typography
$base-font-family: 'Montserrat', sans-serif;
$heading-font-family: $base-font-family;

$font-weight-regular: 400;
$font-weight-bold: 800;
$font-italic: italic;

// Font Sizes
$base-font-size: 1em;
$base-line-height: 1.5;
$heading-line-height: 1.2;

$base-spacing: $base-line-height * rem(20);
$small-spacing: $base-spacing / 2;

// Borders
$base-border-radius: rem(4);
$circle-border-radius: 50%;
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($dark-gray, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Z-index
$base-z-index: 0;