/* MIXINS
============================================= */
/**
	* Animate underline svg background on links
	*/
@-webkit-keyframes animateUnderline {
  0% {
    background-position: 20% bottom; }
  100% {
    background-position: 90% bottom; } }

@keyframes animateUnderline {
  0% {
    background-position: 20% bottom; }
  100% {
    background-position: 90% bottom; } }

/**
 * Set animated underline svg background on links
 */
a {
  background-image: url(../../img/underline.svg);
  background-repeat: no-repeat;
  background-size: auto 22%;
  background-position: 1% bottom;
  padding-bottom: 10px;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }
  a:focus, a:hover {
    -webkit-animation: animateUnderline 2.5s linear infinite;
    animation: animateUnderline 2.5s linear infinite; }

/* GRID MIXIN
============================================= */
/* Needs refactor */
/* LAYOUT
============================================= */
h1, h2, h3 {
  clear: both; }

.wrapper {
  display: flex;
  /* flexbox fallback */
  flex-wrap: wrap;
  display: grid;
  /* css grid */
  grid-template-columns: repeat(1, [col] auto);
  grid-template-rows: repeat(2, [row] auto); }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .wrapper {
    display: grid;
    /* css grid */
    grid-template-columns: repeat(2, [col] 1fr);
    grid-template-rows: repeat(2, [row] auto); } }

/* LOGO
============================================= */
.c-header {
  display: flex;
  /* flexbox fallback */
  align-items: center;
  /* aligns header items to the center */
  flex-basis: 100%;
  /* span header 100% width of the container */
  flex-direction: column;
  /* displays logo under menu on sm screen size */
  flex-wrap: wrap;
  display: grid;
  /* css grid */
  grid-column: 1;
  grid-row: 1;
  justify-self: stretch;
  z-index: 3;
  /* positions the header component over all other boxes */ }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .c-header {
    flex-direction: row;
    /* displays logo and menu inline lg screen size */
    position: absolute;
    /* positions the header on top of the main content */
    width: 100%;
    /* stretches the header to 100% width of the viewport */
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: stretch;
    grid-template-rows: 100px;
    background-color: transparent;
    height: 100px;
    /* allows click on underlying boxes */ } }

/* LOGO: NEEDS REFACTOR
============================================= */
.c-logo {
  flex: 1;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  padding: 2.5rem; }

.c-logo__link {
  color: #fff; }
  .c-logo__link:hover {
    color: #4C0A75; }

.c-logo__name {
  color: #fff;
  font-weight: bold;
  text-decoration: underline; }

.c-logo__name--break {
  display: block; }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .c-logo {
    justify-self: start;
    padding-left: 2.5rem; } }

/* FOOTER
============================================= */
.c-footer {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  display: grid;
  grid-column: 1;
  grid-row: 5;
  justify-content: start;
  background-color: #FFB4EC;
  font-family: "Courier", serif;
  padding: 2.5rem; }
  .c-footer ul {
    justify-content: flex-start;
    display: flex;
    flex-basis: 100%;
    font-size: 0.777rem; }

.c-footer__copyright {
  flex-basis: 100%;
  color: #4C0A75;
  font-size: 0.777rem; }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .c-footer {
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem; }
    .c-footer ul {
      flex-basis: 20%;
      justify-content: flex-end; }
    .c-footer .list {
      justify-self: end; }
  .c-footer__copyright {
    flex-basis: 25%; } }

/* BASE
============================================= */
/**
	* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
	*/
* {
  box-sizing: border-box; }

/**
	* Zero out margin and padding on these elements
	*/
blockquote,
body,
div,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
label,
legend,
li,
nav,
object,
ol,
p,
section,
table,
ul {
  margin: 0;
  padding: 0; }

/* BODY
============================================= */
/**
 * Basic typography styles
 */
body {
  color: #382842;
  font-size: 1.125rem;
  font-weight: normal; }

/* LINKS
============================================= */
/**
 * General link base styles
 */
a {
  color: #F244C4;
  transition: color 0.15s ease-out;
  text-decoration: none; }
  a:focus, a:hover {
    color: #4C0A75; }

/**
 * Highlight color
 */
::-moz-selection {
  background: #FFE8F9; }

::selection {
  background: #FFE8F9; }

/* TEXT
============================================= */
/**
	* Remove list styles from ordered and unordered lists by default
	*/
ol,
ul {
  list-style: none; }

li {
  margin-bottom: 1.5rem; }

/**
 * Headlines base styles
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4C0A75;
  font-weight: lighter;
  font-family: "Courier", serif; }

h1 {
  font-size: 1.99912rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.475rem; } }

h2 {
  line-height: 1.4;
  font-size: 1.37475rem; }
  @media (min-width: 1200px) {
    h2 {
      font-size: 1.99912rem; } }

h3 {
  font-size: 1.37475rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.125rem; } }

/**
 * Paragraph base styles
 */
p {
  color: #382842;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1rem; }

/**
 * Small text base styles
 */
small {
  color: #382842;
  font-family: "Work Sans", sans-serif; }

.font-lg {
  font-size: 1.375rem;
  line-height: 1.4; }

/* BANNER
============================================= */
.banner {
  background-color: #4C0A75;
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 4; }
  .banner small {
    color: #fff; }

/* LIST
============================================= */
.list--horizontal li {
  display: inline;
  padding: 1rem; }

.list__item, .list-block__item {
  font-family: "Courier", serif; }
  .list__item:first-child, .list-block__item:first-child {
    padding-left: 0; }
  .list__item:last-child, .list-block__item:last-child {
    padding-right: 0;
    margin-bottom: 0; }

.list__title {
  color: #F244C4;
  font-size: 1.125rem;
  font-weight: lighter; }
  .list__title:hover {
    color: #4C0A75; }

.list__text {
  color: #382842;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem; }

.list__meta {
  font-size: 0.777rem;
  font-family: "Work Sans", sans-serif; }

.list-block {
  list-style-type: none; }

.list-block__item {
  margin-bottom: 3rem; }

.list-block__link {
  border-bottom: 0;
  display: inline-block; }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .list--horizontal {
    display: inline;
    padding: 1rem; } }

.external-link {
  width: 10px;
  height: 10px;
  position: relative;
  top: -5px;
  fill: #F244C4; }

a:hover .external-link {
  fill: #4C0A75; }

/* PRIMARY NAV
============================================= */
.c-primary-nav {
  display: flex;
  flex: 1;
  justify-content: center;
  display: grid;
  grid-row: 2;
  place-self: end stretch;
  background-color: #FFB4EC;
  padding: 1rem; }
  .c-primary-nav ul {
    justify-self: center; }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .c-primary-nav {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    padding: 0; } }

/**
 * Home styles
 */
.p-home {
  background-color: #FFB4EC; }

/**
 * Home DIVA image styles
 */
.s-home__photo {
  flex: 1;
  height: 50vh;
  width: 100vw;
  grid-column: col 1 / span 1;
  grid-row: 1; }

.s-home__photo--img {
  background-position: 50% 50%;
  height: 50vh;
  object-fit: cover;
  position: initial;
  width: 100vw; }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .s-home__photo {
    grid-column: col 1 / span 1;
    grid-row: 1;
    height: 100vh;
    width: 50vw; }
  .s-home__photo--img {
    position: fixed;
    height: 100vh;
    width: 50vw; } }

/**
 * Home side content styles
 */
.s-home__content {
  display: grid;
  /* css grid */
  grid-column: col 1 / span 1;
  grid-row: 3;
  grid-template-columns: 1fr;
  padding: 2.5rem;
  z-index: 2; }

.b-intro {
  grid-column: 1 / 2;
  grid-row: 2;
  padding-bottom: 2.5rem; }

.b-subtitle {
  font-family: "Work Sans", sans-serif;
  font-size: 0.777rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.b-work {
  grid-column: 1 / 2;
  grid-row: 3;
  padding-bottom: 2.5rem; }

.b-writings {
  grid-column: 1 / 2;
  grid-row: 4;
  padding-top: 2.5rem; }

/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
  .s-home__content {
    display: flex;
    /* flexbox fallback */
    flex-direction: column;
    display: grid;
    /* css grid */
    grid-column: col 2 / span 1;
    grid-row: 1;
    grid-template-columns: 1fr;
    padding: 5rem;
    width: 50vw; }
  .b-intro {
    display: block;
    position: relative;
    order: 1;
    clear: both;
    padding: 7.5rem 0 2.5rem 0; }
  .b-work {
    order: 2; }
  .b-writings {
    order: 2; } }
