---
layout: default
---

%section.container
	%header.app-header
		%h1.app-header--title Rayana Verissimo
		%h2.app-header--role User Interface Engineer
		.app-header-logo 

	.inner-content
		.inner-content--text
			%p Hi there, I am Rayana - a User Interface Engineer from Brazil, based in Amsterdam.
			%p I design digital interfaces, collaborating with an awesome team from around the world to create engaging and effective web experiences.
			%p I love cats, beer, from wireframes and prototypes to final art direction and visual design.

			.navigation__wrapper
				%nav.navigation
					%ul.navigation__menu
						%li.navigation__menu--link ¹ view <a href="#projects">MY WORK</a>
						%li.navigation__menu--link ² say hi <a href="#contact">CONTACT</a>
.projects--wrapper
	%section.projects#projects
		.projects__intro
			%h2 ¹ Selected Work
			%h3 2010 - 2016

		.projects__info#bazza
			.projects__info--title
				%h4 BAZZA — Designing a sophisticated experience for a unique venue
			.projects__info--description
				%p Elected by the VEJA RECIFE magazine as the best new restaurant of 2012, Bazza Bar & Comedoria is a sophisticated venue, ideal for those who enjoy the best of contemporary cuisine combined with good music.
			.projects__info--description-role
				%span 2013 <br/>
				%span client: Bazza Bar & Comedoria <br/>
				%span role: Art Direction & Design
			.projects__img
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/1ad1f610880593.560ecfbe9a3d5.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/98b7a910880593.560ecd9ab6725.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/eabd7610880593.560ecd72226c2.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/e0217410880593.560ecd721e0e2.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/79348b10880593.560ecd9aa7f73.jpg">


		.projects__info#sbt
			.projects__info--title
				%h4 BAZZA — Designing a sophisticated experience for a unique venue
			.projects__info--description
				%p SBT Nordeste, affiliate of SBT - Brazil's second biggest television network, paid tribute to the centenary of Luiz Gonzaga, a Brazilian singer, songwriter, musician & poet, and one of most influential figures of Brazilian popular music in the twentieth century.
				%p Inspired by the poetry sung by Gonzaga as well as the elements typical elements of Brazil's northeastern region, the website uses parallax animations to give movement to the scenarios, telling Gonzaga's lifestory through the events of Saint John festivities.
			.projects__info--description-role
				%span 2012 <br/>
				%span client: SBT Nordeste <br/>
				%span role: Art Direction & Design
			.projects__img
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/e29b1543264547.5607426d81cff.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/d0677b43264545.560744d134f47.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/ac704043264543.560742e6af4f5.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/d95c1843264541.5607412bd6fb1.jpg">
				.image-border
				<img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/99dfd043264539.560741ee81313.jpg">

%section.container#contact
	.inner-content
		.inner-content--text
			%p <a href="mailto:rayanaverissimo(@)gmail.com?Subject=Hi%20Rayana" target="_top">rayanaverissimo(@)gmail.com &rarr;</a>
			%p See my portfolio archive on <a href="http://be.net/rayanaverissimo" target="_blank">Behance</a>, a full resume on <a href="https://linkedin.com/in/rayanaverissimo" target="_blank">LinkedIn</a>, and my travel snaps on <a href="http://rayana.vsco.co" target="_blank">VSCO Grid</a>.

%section.container
	%footer.footer
		%p Made with <span class="footer--heart">&#10084;</span> in Amsterdam. <br />View this project on <a href="https://github.com/rayana/rayana.github.io">GitHub</a>