/* NAV
============================================= */
.nav {
	grid-row: 2;
	background-color: $pink;
	display: grid;
	place-self: end stretch;
	padding: 1rem;

	ul {
		justify-self: center;
	}
}
/* desktop styles ------------------------------------ */
@media only screen and (min-width: 960px) {
	.nav {
		grid-column: 2;
		grid-row: 1;
		justify-self: center;
		padding: 0;
	}
}
